/*

http://pxtoem.com/

75em -> 1200px
50em -> 800px
30em  -> 480px
25em  -> 400px
20em  -> 320px
*/



/*@media all and (min-width: 75em) {
	.my-breakpoint.ui-grid-b .ui-block-a { width: 49.95%; }
	.my-breakpoint.ui-grid-b .ui-block-b, 
	.my-breakpoint.ui-grid-b .ui-block-c { width: 24.925%; }
	.my-breakpoint.ui-grid-b .ui-block-a { clear: left; }
	}
}

@media all and (max-width: 50em) {
	.my-breakpoint .ui-block-a, 
	.my-breakpoint .ui-block-b, 
	.my-breakpoint .ui-block-c,
	.my-breakpoint .ui-block-d,
	.my-breakpoint .ui-block-e { 
		width: 100%; 
		float:none; 
	}
}
*/
/*480*/
@media all and (max-width:30em)  {  
	.my-breakpoint.ui-grid-b .ui-block-a { width: 29.80%;background-color : black; } 
	.my-breakpoint.ui-grid-b .ui-block-b { width: 29.80%; } 
	.my-breakpoint.ui-grid-b .ui-block-c { background-color : black;}
	.my-breakpoint.ui-grid-d .ui-block-a { clear: left; }
}
/*800*/
@media all and (max-width:50em)  {  
	.my-breakpoint.ui-grid-b .ui-block-a { width: 27.80%; background-color : red;} 
	.my-breakpoint.ui-grid-b .ui-block-b { width: 11.80%; } 
	.my-breakpoint.ui-grid-b .ui-block-c { width: 55.80%; background-color : green;} 
	.my-breakpoint.ui-grid-d .ui-block-a { clear: left; }
}
/*>1200*/
@media all and (min-width: 75em) {  
	.my-breakpoint.ui-grid-b .ui-block-a { width: 4.80%; background-color : yellow;} 
	.my-breakpoint.ui-grid-b .ui-block-b { width: 4.80%; background-color : orange;} 
	.my-breakpoint.ui-grid-b .ui-block-c { width: 89.80%; } 
	.my-breakpoint.ui-grid-d .ui-block-a { clear: left; }
}
